@model mvc_app.Models.Movie.Movie
@{
    ViewData["Title"] = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-lumen.css" />
<div style="display:flex;justify-content:center; flex-direction:column">
    <div style="display:flex;justify-content:center">
        <h2>create</h2>
    </div>
    <div class=" center-block">
        @using (Html.BeginForm("Create", "Movie"))
        {
            <div class="form-groupl">
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>
            <div class="form-groupl">
                @Html.LabelFor(m => m.Director)
                @Html.TextBoxFor(m => m.Director, new { @class = "form-control" })
            </div>
            @Html.LabelFor(m => m.Genre)
            @*@Html.TextBoxFor(m => m.Genre, new { @class = "form-control" })*@
            <select asp-for="Genre" class="form-control">
                <option value="" hidden disabled selected>Select a Genre</option>
                <option value="comedy">Comedy</option>
                <option value="horror">Horror</option>
                <option value="romance">Romance</option>
                <option value="drama">Drama</option>
                <option value="thriller">Thriller</option>
                <option value="adventure">Adventure</option>
                <option value="action">Action</option>

            </select>
            <div class="form-groupl">
                @Html.LabelFor(m => m.ReleaseDate)
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>

            </div>
            <div class="form-groupl">
                @Html.LabelFor(m => m.Description)
                @*@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })*@
                <textarea asp-for="Description" rows="4" cols="50" class=" form-control"></textarea>
            </div>
            <div class="form-groupl">
                @Html.LabelFor(m => m.Poster)
                <input type="file" asp-for="Poster" class="btn border-light m-3" multiple />
            </div>
            <div class="form-group" style="display:flex;justify-content:center;margin-top:20px ;flex-direction:column">
                <button type="submit" value="create" class="btn btn-dark border-info "> Create Record </button>

                <div style="display:flex;align-self:center;margin-top:15px">
                    @Html.ActionLink("Back", "Index")
                </div>

            </div>
        }
        
    </div>
</div>