@model mvc_app.Models.PaginationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<form asp-action="InputView">
    <div class="form-group">
        <button type="submit" class="btn btn-default "> Registeration</button>      
    </div>
</form>

<table id="Tmain" class="table table-hover">
    <thead>
        <tr>
            <th onclick="location.href='@Url.Action("OutputView", "Register",new { pageNo=Model.Currentpage, sortBy="Id" })'" scope="col">#</th>
            <th onclick="location.href='@Url.Action("OutputView", "Register",new { pageNo=Model.Currentpage, sortBy="Name" })'" scope="col">Name</>
            <th onclick="location.href='@Url.Action("OutputView", "Register",new { pageNo=Model.Currentpage, sortBy="Program" })'" scope="col">Program</th>
            <th  scope="col">Details</th>
            <th  scope="col">File Name</th>
            <th  scope="col">Update Record</th>
           
        </tr>
    </thead>
    <tbody>
        @{
            @foreach (var item in Model.StudentList)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                    <td>@item.program</td>
                    <td>@item.detail</td>
                    <td><a onclick="location.href='@Url.Action("DownloadFile", "Register",new {filename=  @item.filename})'" />@item.filename</td>
                    <td>
                        <a onclick="location.href='@Url.Action("InputView", "Register",new { id = @item.id })'">Update</a> |
                        <a onclick="location.href='@Url.Action("OutputView", "Register",new { id = @item.id, type="Delete" })'" >Delete</a>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
<ul class="pagination">
    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        <li class="page-item @(i == Model.Currentpage ? "active" : "")">

            <a  onclick="location.href='@Url.Action("OutputView", "Register",new { pageNo=@i })'" class="page-link">@i</a>
        </li>
    }
</ul>
