
@model  List<mvc_app.Models.User>
@{
    ViewData["Title"] = "UploadFiles";
}

<h2>UploadFiles</h2>

<h4>User</h4>
<hr />

    <b>Employe Detail</b>
    <input type="button" class="btn-primary" style="float:right;" value="Create" onclick="location.href='@Url.Action("Emp_View", "user")'" />
   
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
           
                <th>Emplpoyee Name </th>
                <th>Employee Role </th>
                <th>Employee Address</th>
                <th>Employee File</th>
                <th> Download File</th>
            
            </tr>
        </thead>
<tbody>
    @{int  i=0;
    @foreach (var d in Model)
    {
      
        i++;
    <tr>
        <td>@d.Name</td>
        <td>@d.Address</td>
        <td>@d.Employe_Role</td>
        <td>@d.file</td>
    
        <td><a asp-action="Download" asp-route-filename="@d.file">@d.file</a></td>

    </tr>
    }}
</tbody>
    
</table>


