@model mvc_app.Models.UserModel
@{
    ViewData["Title"] = "Upload";
}
<ul>

    @foreach (var item in Model.FilePath)
    {
        <li>@item.Names</li>
        <li>@item.path</li>
       
    }
    
</ul>
<ul>
    <li>@Model.Choice</li>
    <li>@Model.Comments</li>
    <li>@Model.Email</li>
    <li>@Model.Name</li>
</ul>


<img src="~/images/@ViewBag.file " width="120" height="100" />
<br />
<br />

<form>
    <input type="submit" value="Download" asp-controller="user" asp-action="Download" formenctype="multipart/form-data" />
</form>



