
@{
    ViewData["Title"] = "Validate";
}

@model mvc_app.Models.UserCollection
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <table style="width: 100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Job Type</th>
            <th>Password</th>
            <th>File Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Usercol)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.email_address</td>
                <td>@item.phone_number</td>
                <td>@item.job_type</td>
                <td>@item.password</td>
                <td><a asp-action="Download" asp-route-filename="@item.SelectedFile.FileName">@item.SelectedFile.FileName</a></td>
            </tr>

        }      
        </tbody>
        
    </table>
</div>
</body>
</html>

