
@{
    ViewData["Title"] = "Validate";
}

@model mvc_app.Models.UserCollection
<div>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Job Type</th>
            <th>Password</th>
            <th>File Name</th>
        </tr>
        @foreach (var item in Model.Usercol)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.email_address</td>
                <td>@item.phone_number</td>
                <td>@item.job_type</td>
                <td>@item.password</td>
                <td><a asp-action="Download" asp-route-filename="@item.SelectedFile.FileName">@item.SelectedFile.FileName</a></td>
            </tr>

        }
    </table>
</div>


