
@{
    ViewData["Title"] = "Validate";
}

@model mvc_app.Models.UserCollection
@*<body>
<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Job Type</th>
            <th scope="col">File Name</th>
        </tr>
        </thead>
        <tbody>
        @{ int i = 0;
        @foreach (var item in Model.Usercol)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.email_address</td>
                    <td>@item.phone_number</td>
                    <td>@item.job_type</td>
                    <td><a asp-action="Download" asp-route-filename="@item.SelectedFile.FileName">@item.SelectedFile.FileName</a></td>
                </tr>

            }
        }
        </tbody>
        
    </table>
</div>
</body>*@


<table class="container">
    <thead>
    <tr>
        <th><h1>Name</h1></th>
        <th><h1>Email Address</h1></th>
        <th><h1>Phone Number</h1></th>
        <th><h1>Job Type</h1></th>
        <th><h1>File Name</h1></th>
    </tr>
    </thead>
    <tbody>
    @{ int i = 0;
        @foreach (var item in Model.Usercol)
         {
             <tr>
                 <td>@item.Name</td>
                 <td>@item.email_address</td>
                 <td>@item.phone_number</td>
                 <td>@item.job_type</td>
                 <td><a asp-action="Download" asp-route-filename="@item.SelectedFile.FileName">@item.SelectedFile.FileName</a></td>
             </tr>

         }
    }
    </tbody>
</table>
