
@{
    ViewData["Title"] = "Validate";
}

@model mvc_app.Models.UserCollection

<head><link rel="stylesheet" type="text/css" href="css/TableStyle.css" /></head>
<body>
<form asp-action="RegisterUser" asp-controller="Table">
    <button type="submit" class="btn btn-success"> Register User </button>
</form>
<table class="container" id="myTable">
    <thead>
    <tr>
        <th >#</th>
        <th >Name</th>
        <th >Email Address</th>
        <th >Phone Number</th>
        <th >Job Type</th>
        <th >File Name</th>
    </tr>
    </thead>
    <tbody id="myTableBody">
    @{
        int i = 0;
        @foreach (var item in Model.Usercol)
         {
             i++;
             <tr>
                 <td>@i</td>
                 <td>@item.Name</td>
                 <td>@item.email_address</td>
                 <td>@item.phone_number</td>
                 <td>@item.job_type</td>
                 <td><a asp-action="Download" asp-route-filename="@item.FileName">@item.FileName</a></td>
                 <td><a asp-action="DeleteRecord" asp-controller="Table" asp-route-selectedid="@item.id">delete</a></td>
                 <td><a asp-action="MoveToEdit" asp-controller="Table" asp-route-id="@item.id">edit</a></td>
             </tr>

         }
    }

    </tbody>
</table>
<ul>
    @for (int x=1;x<10;x++)
    {
        <li><a asp-action="Pagination" asp-controller="Table" asp-route-pagenum="@x">@x</a></li>
    }
</ul>

</body>
